/* ---自建通用--- */

.bg-cover {
    background-size: cover;
    background-position: center center;
}

@media (min-width: 768px) {
    .text-md-dark {
        color: #333;
    }
}

/* ---覆蓋Bootstrap--- */

.btn {
    border-width: 2px;
}
.form-control {
    border-width: 2px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, .6);
}

/* ---header--- */

header .header-carousel-item {
    height: 450px;
}

header .carousel-inner .carousel-item:nth-child(1) {
    background-image: url(../images/header-01.jpg);
}

header .carousel-inner .carousel-item:nth-child(2) {
    background-image: url(../images/header-02.jpg);
}

header .carousel-inner .carousel-item:nth-child(3) {
    background-image: url(../images/header-03.jpg);
}

/* --- --- */

section:nth-child(5) {
    position: relative;
}

section:nth-child(5) .row .bgi {
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url(../images/section-01.jpg);
}
/* --- --- */

section:nth-child(7) {
    position: relative;
}

section:nth-child(7) .row .bgi {
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url(../images/section-02.jpg);
}
/* --- --- */

section:nth-child(9) .row .bgi:nth-child(1) {   
    background-image: url(../images/section-03.jpg);
}
section:nth-child(9) .row .bgi:nth-child(2) {   
    background-image: url(../images/section-04.jpg);
}
